<!DOCTYPE html>
<html>
    <head>
        <title>Ele</title>
    </head>

    <body>
        <h1>Witaj swiecie</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}

                <li><a href="/ele/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	<a href="/ele/ostronie/">O stronie</a>
    </body>
</html>
